@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
  
header {
    height: 100vh;
    background-color: #000;
    background-image: url('../img/voilin-1.jpg');
    background-size: cover;
    background-position: center;
}

.logo {
    height: 50px;
    border-radius: 10px;
  }

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    color: blueviolet;
}
/* Header */
header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .links {
    display: flex;
    gap: 2rem;
    font-weight: bold;
    justify-content: space-between;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: blueviolet;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active {
    scale: 0.95;
}

/* Dropdown Menu */
.dropdown_menu {
    display: none;
    position:absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* HERO */
section#hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* services-section  section */
/* Add space at the top and bottom of the services-section */
#services-section  {
    flex-wrap: wrap;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  /* Give the Services section a musical shape */
  #services-section :before {
    display: flex;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:auto;
    background-image: url('../img/niamh.webp');
    background-size:cover;
    background-repeat: no-repeat;
    z-index: -1;
  }
  
/* Add a musical vibe to the cards */
.card-body {
    flex: 1;
    margin: 10px;
    text-align: center;
    overflow: hidden;
    border-radius: 5px;
    align-items: stretch;
    justify-content: space-around;
    height: auto;
    max-width: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    transform: translateY(-10px);
    transition: all 0.2s ease-in-out;
}
/* 
  .card-body h3,
  .card-body p {
    height: 100%!important;
  } */

  
  /* Set a fixed height for the card images */
  .card-img-top {
    height: 300px;
    object-fit: cover;
  }


  
  /* Add a hover effect that moves the card image and content */
  .card:hover .card-img-top,
  .card:hover .card-body {
    transform: translateY(-10px);
    transition: all 0.2s ease-in-out;
  }

/* FOOTER */

.footer {
    background-color: #2C245B;
    padding: 70px 0;
}

footer .container {
    max-width: 1170px;
    margin:auto;
}

foooter .row {
    display: flex;
    flex-wrap: wrap; 
}

.footer-col {
    width: 33%;
    padding: 0 15px;
}

.footer-col ul {
    list-style: none;
}

.footer-col h4 {
    color: #9796B0;
    margin-bottom: 30px;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    left:0;
    width: 50px;
    height: 2px;
    position: absolute;
    height: 2px;
    background-color: #E7467F;
    box-sizing: border-box;
    bottom: -10px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 300;
    display: block;
    transition: 0.5s ease;
}

.footer-col ul li a:hover {
    color: #fff;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #E7467F;
    background-color: #2C245B;
}

.row hr {
    opacity: 0.7;
}

.copyright {
    align-items: center;
    justify-content: center!important;
    color: #9796B0;
}

@media(max-width: 767px){
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .footer-col {
        width: 100%;
    }
}


/* Services Page */

.heading-secondary {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1;
    color: var(--primary-color);
    margin-bottom: 1.5rem;
  }

  .description {
    height: 50vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

@media (max-width: 600px) {
    footer .row{
        flex-direction: column;
        padding: 20px 30px;
    }
    footer .footer-col ul{
        margin-left: 20px;
        margin-bottom: 20px;
     }   
     .footer-col input {
        width: 100%;
     }
}


  

/* Responisive Design */

@media(max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }
    .navbar .toggle_btn {
        display: block;
    }
    .dropdown_menu {
        display: block;
    }
}

  /* Make the services-section  section responsive */
  @media (max-width: 780px) {
    #services-section :before {
      height: 100px;
    }
  }

@media(max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}